name: Terraform Plan

on:
  push:
    paths:
      - 'examples/**'
      - '.github/workflows/**'

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: "1.5.7"

      - name: Terraform Init
        env:
          TF_VAR_github_token: ${{ secrets.TERRAFORM_GITHUB_TOKEN }}
        run: |
          cd examples
          terraform init -input=false
          terraform validate

      - name: Terraform Plan
        env:
          TF_VAR_github_token: ${{ secrets.TERRAFORM_GITHUB_TOKEN }}
        run: |
          cd examples
          terraform plan -out=tfplan
